:root {
  --clr-1: rgb(68, 100, 124);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-1);
  overflow: hidden;
}

.container {
  background: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );

  height: 90vh;
  position: absolute;
  min-width: 80%;
  transform: translate(55%, -50%);
  top: 50%;
  right: 50%;
  box-shadow: 0 0 15px 15px rgb(0 0 0 / 25%);
}

.container-about {
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.container-links {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.container img {
  max-width: 30vw;
  max-height: 70vh;
}

/* page transition to right side */
/* 
.page-enter {
  opacity: 0;
  height: 2vh;
  right: -80%;
}
.page-enter.page-enter-active {
  opacity: 1;
  height: 90vh;
  right: 50%;

  transition: all 500ms;
}

.page-exit {
  opacity: 1;
}
.page-exit.page-exit-active {
  opacity: 0;
  right: -80%;
  height: 2vh;

  transition: all 600ms;
} */

/* page transition to and from middle  */

.page-enter {
  opacity: 0;
  height: 2vh;
}
.page-enter.page-enter-active {
  opacity: 1;
  height: 90vh;

  transition: all 400ms;
}

.page-exit {
  opacity: 1;
}
.page-exit.page-exit-active {
  opacity: 0;
  height: 2vh;

  transition: all 450ms;
}

/* page transition to and from bottom  */

/* .page-enter {
  opacity: 0;
  height: 1vh;
  top: 95%;
}
.page-enter.page-enter-active {
  opacity: 1;
  height: 90vh;
  top: 50%;

  transition: all 500ms ease-in-out;
}

.page-exit {
  opacity: 1;
}
.page-exit.page-exit-active {
  opacity: 0;
  height: 1vh;
  top: 95%;

  transition: all 600ms ease-out;
} */
